@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

h1,
h2 {
  margin: 0;
  font-variant-caps: petite-caps;
  font-weight: 300;
  line-height: 1;
}

h2 {
  border-bottom: 1px solid #555;
  letter-spacing: 5px;
  line-height: 1;
  padding-bottom: 0.5em;
}

main {
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.5;
  margin: 4vh auto;
  width: var(--main-wrap);

  a {
    color: var(--primary-accent);
    font-weight: 300;
    text-decoration: none;

    &:visited {
      color: var(--primary-accent);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 1em 0 0;
    text-align: justify;
  }
}

section + section {
  margin-top: 4vh;
}

footer {
  font-size: 0.8em;
  margin: 0 auto 2em;
  text-align: right;
  width: min(1000px, 80vw);

  a:hover {
    color: var(--primary-accent);
  }
}

@media (max-width: 700px) {
  h2 {
    text-align: center;
  }

  main p {
    text-align: left;
  }
}
