:root {
  --primary-accent: cadetblue;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--primary-accent);
  color: white;
}

a {
  color: white;
  text-decoration: none;

  &:visited {
    color: white;
  }

  &.button {
    border-radius: 4px;
    flex: 0 0 36px;
    height: 39px;
    line-height: 38px;
    text-align: center;

    &:hover {
      background-color: #555;
    }
  }

  &.overlay-button {
    align-items: center;
    background-color: var(--primary-accent);
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 2rem;
    height: 3rem;
    justify-content: center;
    transition: box-shadow 0.2s ease;
    width: 3rem;

    &:hover {
      box-shadow: 0px 0px 4px inset white;
    }
  }
}

body {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}
