body {
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #555;
  }
}

div.loader {
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

#meme-wall {
  flex-grow: 1;
  font-size: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: opacity 1s ease-in-out;

  &.loading,
  &.initializing {
    transition: none;

    &:not(.initializing) img {
      opacity: 0.2;
    }
  }

  &:not(.single) {
    cursor: pointer;
  }

  &.empty {
    position: relative;

    &::after {
      bottom: 0;
      color: white;
      content: "No memes found!\A\A(click here to reset)";
      display: grid;
      font-size: 40px;
      left: 0;
      place-items: center;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      white-space: pre;
    }
  }

  img {
    box-shadow: inset 3px 3px 20px 1px rgb(255 255 255 / 40%);
    display: inline-block;
    height: 15vmax;
    opacity: 1;
    transform-origin: 0% 0%;
    transition-duration: 0.3s;
    transition-property: transform, opacity, box-shadow;
    transition-timing-function: ease-out;
    vertical-align: top;
    width: auto;

    &.hidden {
      display: none;
    }

    &.offcanvas {
      opacity: 0;
    }
  }

  dl {
    background: rgba(0, 0, 0, 0.8);
    border: 1em solid transparent;
    bottom: 0;
    color: white;
    column-gap: 1em;
    display: none;
    font-size: large;
    grid-template-columns: 7em 1fr;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    &:not(.show-more) {
      dt:nth-child(n + 5),
      dd:nth-child(n + 5) {
        font-size: 0;
        opacity: 0;
        margin-top: 0;
        transition: font-size 300ms 300ms ease-in,
          margin-top 300ms 300ms ease-in, opacity 300ms 0ms ease-in;
      }

      &:after {
        transition: transform 300ms 300ms ease-in-out;
      }
    }

    dt,
    dd {
      display: grid;
      margin: 4px 0 0 0;
      opacity: 1;
      overflow: hidden;
      place-content: center left;
      transition: font-size 300ms 0ms ease-in, margin-top 300ms 0ms ease-in,
        opacity 300ms 300ms ease-in;
    }

    dt {
      background-color: #555;
      border-radius: 4px;
      font-size: 0.8em;
      line-height: 1.8;
      padding: 0 4px;
      place-content: center right;
      text-align: right;
      text-transform: uppercase;
    }

    &::after {
      border-color: transparent transparent white;
      border-style: solid;
      border-width: 0 10px 17.3px 10px;
      content: "";
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 300ms ease-in-out;
      width: 0;
    }

    &.show-more::after {
      transform: rotate(-0.5turn);
    }
  }

  &.zoomed {
    img {
      opacity: 0.1;
      transition-timing-function: ease-in;

      &.active {
        opacity: 1;
        box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.8);

        & + dl {
          display: grid;
        }
      }
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[type="checkbox"] {
  -webkit-appearance: none;
  background: lightgrey;
  background-repeat: no-repeat;
  border-radius: 2px;
  height: 1em;
  transition: background-color 100ms, border-color 100ms;
  vertical-align: sub;
  width: 1em;

  &:hover {
    background: var(--primary-accent);
  }

  &:focus {
    outline: 1px solid var(--primary-accent);
    outline-offset: 2px;
  }

  &:checked {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='white' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M5 12l5 5l10 -10'/%3E%3C/svg%3E"),
      var(--primary-accent);
  }

  &:indeterminate {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='white' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M5 12l14 0'/%3E%3C/svg%3E"),
      var(--primary-accent);
  }
}
