body {
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
  overflow: hidden;
}

body > header {
  padding: 0.5em 0.5em 0;
}

header > h1 {
  line-height: 39px;
}

button {
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #555;
  }
}

div.controls {
  display: flex;
  flex-grow: 1;
  gap: 0.5em;
  justify-content: center;
  position: relative;

  span.count {
    background: #555;
    border-radius: 4px;
    display: grid;
    min-width: calc(9ch + 10px);
    padding: 7px 8px 5px;
    place-content: center;
    white-space: nowrap;
  }

  svg {
    display: inline-block;
    fill: transparent;
    height: 1.5rem;
    stroke: white;
    vertical-align: middle;
    width: 1.5rem;
  }

  div.search {
    display: flex;
    max-width: 20em;
    transition: flex 200ms ease-in-out;

    button {
      height: 100%;
    }

    input {
      appearance: none;
      background-color: transparent;
      border: none;
      color: white;
      flex: 1 1 auto;
      font-family: inherit;
      font-size: 1rem;
      margin-bottom: -2px;
      outline-offset: -1px;
      outline: 1px solid #555;
      padding: 0;
      width: 0;
    }
  }
}

button.show-filters.on {
  background-color: #555;
}

div.more-filters {
  display: flex;
  gap: 0.5em;
  height: 0;
  justify-content: center;
  /* overflow: hidden; */
  pointer-events: none;
  transition: height 200ms ease, margin-bottom 100ms 100ms ease;
  width: 100%;

  & .container::after {
    opacity: 0 !important;
  }

  &.show {
    height: 39px;
    margin-bottom: 0.5em;
    pointer-events: auto;
    transition: height 200ms ease, margin-bottom 200ms ease;

    & .container::after {
      opacity: 1 !important;
      transition: opacity 0.1s 0.1s ease;
    }
  }

  > div {
    max-width: calc(25% - 0.375em);
  }
}

div.filter {
  flex-grow: 1;
  flex-shrink: 0;
  max-height: 39px;
  max-width: 20em;
  width: calc(25% - 1em);
}

a.share {
  background-color: #555;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 0.5em);
  transition: box-shadow 200ms ease, opacity 200ms ease;
  right: 1em;
  z-index: 2;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &.disabled {
    display: none;
  }

  svg {
    height: 1em;
    margin-left: -4px;
  }
}

div.loader {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

#meme-wall {
  flex-grow: 1;
  font-size: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: opacity 1s ease-in-out;

  &.loading,
  &.initializing {
    transition: none;

    &:is(.initializing) img {
      opacity: 0;
    }

    &:not(.initializing) img {
      opacity: 0.2;
    }

    & + div.loader {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
  }

  &:not(.single) {
    cursor: pointer;
  }

  &.empty {
    position: relative;

    &::after {
      bottom: 0;
      color: white;
      content: "No memes found!\A\A(click here to reset)";
      display: grid;
      font-size: 40px;
      left: 0;
      place-items: center;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      white-space: pre;
    }
  }

  img {
    background-size: cover;
    display: inline-block;
    height: 15vmax;
    opacity: 1;
    transform-origin: 0% 0%;
    transition-duration: 0.3s;
    transition-property: transform, opacity, box-shadow;
    transition-timing-function: ease-out;
    vertical-align: top;
    width: auto;

    &.hidden {
      display: none;
    }

    &.offcanvas {
      opacity: 0;
      transform: translateY(50%);
    }
  }

  dl {
    background: rgba(0, 0, 0, 0.8);
    border: 1em solid transparent;
    bottom: 0;
    color: white;
    column-gap: 1em;
    display: none;
    font-size: large;
    grid-template-columns: 7em 1fr;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    &:not(.show-more) {
      dt:nth-child(n + 5),
      dd:nth-child(n + 5) {
        font-size: 0;
        opacity: 0;
        margin-top: 0;
        transition: font-size 300ms 300ms ease-in,
          margin-top 300ms 300ms ease-in, opacity 300ms 0ms ease-in;
      }

      &:after {
        transition: transform 300ms 300ms ease-in-out;
      }
    }

    dt,
    dd {
      display: grid;
      margin: 4px 0 0 0;
      opacity: 1;
      overflow: hidden;
      place-content: center left;
      transition: font-size 300ms 0ms ease-in, margin-top 300ms 0ms ease-in,
        opacity 300ms 300ms ease-in;
    }

    dt {
      background-color: #555;
      border-radius: 4px;
      font-size: 0.8em;
      line-height: 1.8;
      padding: 0 4px;
      place-content: center right;
      text-align: right;
      text-transform: uppercase;
    }

    &::after {
      border-color: transparent transparent white;
      border-style: solid;
      border-width: 0 10px 17.3px 10px;
      content: "";
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 300ms ease-in-out;
      width: 0;
    }

    &.show-more::after {
      transform: rotate(-0.5turn);
    }
  }

  &.zoomed {
    img {
      opacity: 0.1;
      transition-timing-function: ease-in;

      &.active {
        opacity: 1;
        box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.8);

        & + dl {
          display: grid;
        }
      }
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 1100px) {
  body > header {
    gap: 0.5em 1em;
    justify-content: space-between;
    padding: 0.5em 1em 0;
  }

  div.controls {
    justify-content: flex-end;
  }

  div.more-filters {
    justify-content: flex-end;
  }
}

@media (max-width: 1149px) {
  div.controls {
    transition: padding-bottom 200ms ease;

    &.searching {
      padding-bottom: calc(40px + 0.5em);

      div.search {
        button {
          background-color: #555;
        }

        input {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='transparent' stroke='%23555'%3E%3Ccircle cx='10' cy='10' r='7'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='15' y2='15'%3E%3C/line%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 1.5rem;
          background-position: 10px center;
          border-radius: 4px;
          padding: 10px 10px 10px 40px;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 2px;
          height: 40px;
          line-height: 1em;
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  body > header {
    align-items: center;
  }

  div.controls,
  div.more-filters {
    gap: 1em;
  }

  div.controls {
    &.searching {
      div.search {
        flex-grow: 1;

        button {
          background-color: #555;
          border-radius: 4px 0 0 4px;
        }

        input {
          border-radius: 0 4px 4px 0;
          display: inline;
          margin-bottom: 0;
          padding: 0 10px;
        }
      }
    }
  }
}
