---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <ul>
    <li>
      <a href={Astro.site.pathname + "memes/1/"}>Let the memes commence!</a>
    </li>
    <li><a href={Astro.site.pathname + "zoomwall/1/"}>Zoomwall?</a></li>
  </ul>
</BaseLayout>
