---
import { renderImg } from "astro-imagetools/api";
import ShareButton from "../components/ShareButton.astro";
import ExtendedFilters from "../components/ExtendedFilters.astro";
import MainControls from "../components/MainControls.astro";

const getRefToOptimizedImage = async (src) => {
  const { img } = await renderImg({ src, alt: "" });
  return img.match(/srcset="([^"]*?)"/)[1];
};

const logo32x32 = await getRefToOptimizedImage("/src/img/sucho-logo.32x32.png");
const logo64x64 = await getRefToOptimizedImage("/src/img/sucho-logo.64x64.png");
---

<header>
  <h1>
    <img srcset={`${logo64x64} 2x`} src={logo32x32} alt="SUCHO" />
    <a href={Astro.site.pathname} title="SUCHO Meme Wall">SUCHO Meme Wall</a>
  </h1>
  <MainControls />
  <ExtendedFilters />
  <ShareButton />
</header>

<style>
  header {
    align-items: start;
    border-bottom: 5px solid #777;
    border-top: 5px solid #777;
    display: grid;
    gap: 0.5em 1em;
    grid-template-areas: "title" "controls" "extended-filters";
    justify-items: stretch;
    padding: 0.5em calc(0.5em + ((100vw - min(800px, 100vw)) / 2)) 0;
    position: relative;
    width: 100vw;

    h1 {
      align-items: center;
      display: flex;
      font-variant-caps: petite-caps;
      font-weight: 300;
      gap: 0.5rem;
      line-height: 39px;
      margin: 0;
      justify-content: center;
      white-space: nowrap;
    }

    img {
      height: 32px;
      margin-right: 0.25em;
      margin-top: -2px;
      vertical-align: text-top;
      width: 32px;
    }

    a {
      color: white;

      &:visited {
        color: white;
      }

      &:hover {
        text-decoration: none;
      }
    }

    :global(.filter) {
      max-height: 39px;
    }
  }

  @media (min-width: 1150px) {
    header {
      gap: 0.5em 1em;
      grid-template-areas: "title controls" ". extended-filters";
      grid-template-columns: 1fr minmax(800px, 40%);
      padding: 0.5em 1em 0;
      margin: 0;

      h1 {
        justify-content: flex-start;
      }
    }
  }
</style>
