---
import { Image } from "astro:assets";
import suchoLogo from "../img/sucho-logo.32x32.png";
---

<h1>
  <Image src={suchoLogo} width={32} densities={[2]} alt="SUCHO" />
  <a href={Astro.site.pathname} title="SUCHO Meme Wall">SUCHO Meme Wall</a>
</h1>

<style>
  h1 {
    align-items: center;
    display: flex;
    font-variant-caps: petite-caps;
    font-weight: 300;
    gap: 0.5rem;
    line-height: 39px;
    margin: 0;
    justify-content: center;
    white-space: nowrap;
  }

  img {
    height: 32px;
    margin-right: 0.25em;
    margin-top: -2px;
    vertical-align: text-top;
    width: 32px;
  }

  a {
    color: white;

    &:visited {
      color: white;
    }

    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 1150px) {
    h1 {
      justify-content: flex-start;
    }
  }
</style>
