<div class="loader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<style>
  .loader {
    height: 120px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 120px;

    div {
      animation: grid-scale 2s infinite ease-in-out;
      background-color: #ddd;
      border-radius: 8px;
      float: left;
      height: 25%;
      margin: 4%;
      width: 25%;
    }

    div:nth-child(1) {
      animation-delay: 0.2s;
    }

    div:nth-child(2) {
      animation-delay: 0.3s;
    }

    div:nth-child(3) {
      animation-delay: 0.4s;
    }

    div:nth-child(4) {
      animation-delay: 0.1s;
    }

    div:nth-child(5) {
      animation-delay: 0.2s;
    }

    div:nth-child(6) {
      animation-delay: 0.3s;
    }

    div:nth-child(7) {
      animation-delay: 0s;
    }

    div:nth-child(8) {
      animation-delay: 0.1s;
    }

    div:nth-child(9) {
      animation-delay: 0.2s;
    }
  }

  @keyframes grid-scale {
    0%,
    70%,
    100% {
      transform: scale3D(1, 1, 1);
    }
    35% {
      transform: scale3D(0, 0, 1);
    }
  }
</style>
