---
import Icon from "../components/Icon.astro";
---

<a href="#" class="share overlay-button" aria-label="Share">
  <Icon name="share" />
</a>

<style>
  a.overlay-button {
    background-color: #555;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 0.5em);
    transition: box-shadow 200ms ease, opacity 200ms ease;
    right: 1em;
    z-index: 2;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    &.disabled {
      display: none;
    }

    svg {
      height: 1em;
      margin-left: -4px;
    }
  }
</style>

<script>
  const shareButton = document.querySelector(".share");
  if (navigator.share) {
    shareButton.addEventListener("click", (event) => {
      event.preventDefault();
      navigator
        .share({
          title: "From the SUCHO Meme Wall",
          url: window.location,
        })
        .catch((error) => {});
    });
  } else {
    shareButton.classList.add("disabled");
  }
</script>
