---
import Head from "../components/Head.astro";

let { bodyClass, title } = Astro.props;
---

<html lang="en">
  <Head {title} />
  <body>
    <header>
      <h1>SUCHO Memes Gallery</h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
